h1{
    color: red;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background-color: wheat;
    margin: 20px 50px;
    /* 1Opx de haut et de bas,20px de gauche et de droite
    padding: 10px 2Opx;
    /* margin: top droit bas gauche; */
}

h2{
    color: blue;
}

.green{
    color: green;
}
/*
    p{
    /* crée des espaces dans le p*/
    /* line-height: 30px; */
     /* crée un espace entre les mots*/
    /* letter-spacing: 3px; */
     /* divise en 3 colonnes*/
     /* column-count: 3; */
     /* text-align: left; */
    /* crée un espace entre deux éléments*/
    /* column-gap: 30px; */
    /* } */

li{
    list-style: square;
}

a{
    text-decoration: none;
    background-color: rgb(32, 102, 172);
    border: solid 5px rebeccapurple;
        border-color: rgb(0, 255, 0);
    border-radius: 15px;
    /* border-right-color: blue;
    border-left-color: green; */
    color: white;
    padding: 5px 15px;
    margin:20px 50px;
}

ul li{
    padding: 5px;
}

ul ol{
padding: 5px;
}