/* tilisation des flex sur l'élément parent */
div.parent{
    height: 100vh;
    border: solid 4px rgb(255, 16, 96);
    /* alignement axe horizontal par defaut*/
    display: flex;
    /* alignement axe vertical*/
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* Aligné l'élément au debut s'il n y a pas d'espace*/
    align-content: flex-start;
    /* alignement des elements*/
    /* justify-content: center; */
    /* centré des elements verticalement */
    /* align-items: center; */
}

div.child-1{
    width: 200px;
    height: 200px;
    color: #fff;
    font-size: 2rem;
    background-color: rgb(70, 43,226);
    /* changer ordre de l'élément */
    order: 2;
}
div.child-2{
    width: 200px;
    height: 200px;
     color: #fff;
    font-size: 2rem;
    background-color: rgb(145, 28, 241);
}
div.child-3{
    width: 200px;
    height: 200px;
     color: #fff;
    font-size: 2rem;
    background-color: rgb(28, 216, 241);
    order: 1;
}
div.child-4{
    width: 200px;
    height: 200px;
     color: #fff;
    font-size: 2rem;
    background-color: rgb(104, 0, 100);
}

